/* Fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Roboto:wght@100&display=swap');


@font-face {
  font-family: 'fonte-felipinho2';
  src: url(/READ/fontes/MiSans-Light.ttf) format('truetype'); 
}

body {
  background-image: linear-gradient( to right, rgb(143, 172, 253), rgb(146, 219, 255));
  
}
h1 {
  font-family: 'fonte-felipinho2';
  color: #12305F;
  font-size: 35px;
}
/* Estilo Menu */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; 
}
/* MENU */
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
}

a:hover {
  opacity: 0.7;
}


.logo img {
  width: 250px;
}

.nav-list i {
  padding-right: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #345993;
  height: 14vh;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 1px;
  margin-left: 32px;
  margin-top: 25px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
.nav-list li:last-child {
  background-color: #507dc1;
  font-size: 15px;
  border-radius: 80px;
  padding: 20px;
  margin-left: 100px;
  margin-top: 1%;
}
.nav-list li:last-child:hover {
  background-color: #C05050;
  transition: 0.5s;

}
.nav-list li:last-child a:hover {
  color: rgb(85, 0, 0);
  transition: 0.5s;
}


@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #1c437e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding-left: 2%;
    border-radius: 20px;
  }
  .nav-list li:last-child {
      margin-left: 0px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* */
/* Barra de pesquisa*/

.search2 {
  display: flex;
}
.search button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search {

  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(43, 101, 155, 0.3);

}

.search:hover input {
  width: 400px;
}

.search input {
  width: 85px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}
.search button .fa-solid {
  font-size: 18px;
  color: #345993;
}
.search button .fa-solid:hover {
  color: #287aff;
}
/* Estilos da tabela */
.container-usuario {
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 1%;
    background-color: #cbe6ff;
    border-radius: 10px;
    padding-top: 1px;
    
}
.usuarioh1 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    
} 

.novo button {
    background-color: #507dc1;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    cursor: pointer;
    margin-left: 1%;
    box-shadow: 0 10px 25px rgba(43, 101, 155, 0.3);
}
.novo button:hover {
  background-color: #406498;
  
}
.novo button a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(174, 216, 255, 0.6) ;
    border-radius: 10px 10px 0 0;
    
  }

  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    
  }

    th {
    background-color: rgba(52, 89, 147, 0.9);
    color: white;
    font-family: 'Roboto', sans-serif; 
}

    th:first-child {
    
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
    th:last-child {
    
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  td {
    font-family: 'fonte-felipinho2';
    color: #062e6e;
    
  }

  .iconusuario {
    width: 22px;
  }
  .trash {
    background-color: #C05050;
    
  }
  .trash:hover {
    background-color: #9c4242;
  }
  td button {
    background-color: rgb(66, 135, 255);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 3%;
  }
  td button:hover {
    transition: 1ms;
    background-color: rgb(49, 103, 195);
    
  }

/* responsividade bonitinha */ 

@media (max-width: 768px) {
    .menu ul {
      display: none;
    }
    .menu ul li {
      display: block;
      background-color: #345993;
      margin-bottom: 10px;
    }
    #logo4branca {
        display: none;
    }
    #menu .icone {
        display: none;
    }
    
  }
      
  @media (max-width: 768px) {
    #menu ul li:last-child {
        display: block;
        position: relative;
        margin-top: 20px;
        background-color: #507dc1;
        font-size: 20px;
        border-radius: 80px;
        line-height: 5px;
        width: 150px;
        height: 80px;
        padding-right: 9.5%;
    }
}

