@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Roboto:wght@100&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;

    align-items: center;
    background-color: #5a85c4;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 35px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 25px;
}



.container {
    width: 80%;
    height: 80vh;
    display: flex;
    background-color: #173b72;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.container #imglogin {
    width: 45%;
    display: flex;
    align-items: center;
    background-color: #305690;
    margin-left: 0%;
}

/* div form */

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #173b72;
    padding: 3rem;

}

#logo4branca {
    width: 300px;
    margin-bottom: 30px;
    display: flex;

}

.form-header {
    margin-bottom: 3rem;
    display: flex;


}


.title {
    text-align: center;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 15rem;
    height: 0.3rem;
    background-color: #5a85c4;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


.input-group {
    display: flex;
    flex-wrap: wrap;

}


.input-box {
    
    flex-direction: column;
    /* ou row */
    width: 31%;
    font-size: 13px;
    color: rgb(179, 213, 245);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

.input-box select {
    margin: 10px 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 13px;
    color: rgb(34, 34, 34);
    width: 199px;
    
}


.input-box select option{
    color: #286bcf;
}

.input-box input {
    margin: 10px 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 13px;
}


.input-box input:focus-visible {
    outline: 1px solid cornflowerblue;
}

.input-box input::placeholder {
    color: rgb(158, 158, 158);
}

#submit {
    width: 100%;
    margin-top: 0.2rem;
    border: none;
    background-color: #286bcf;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;

}

#submit:hover {
    background-color: #446596;
}

#update {
    width: 100%;
    margin-top: 0.2rem;
    border: none;
    background-color: #286bcf;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;

}

#update:hover {
    background-color: #446596;
}

button {

    background-color: #011f41;
    font-size: 35px;
    border-radius: 80px;
    width: 150px;
    height: 80px;
    border: none;
}

button a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: #05448b;

}

/*responsividade bonitinha */
@media screen and (max-width: 1330px) {
    .container #imglogin {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;

    }
}